.widget-container {
  background-color: #eff4f8;
  height: 100%;
  width: 95%;
  left: 0;
  position: absolute;
  top: 0;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.btn-container > button {
  width: 30px;
  height: 30px;
}
